<!doctype html>
<html>
    <head><font size="+2"><b>Sign-up</b></font></head><br><br>
        <style type="text/css">
            .tab{   display:inline-block; 
                    margin-left: 40px; }
            .tabtab{display:inline-block; 
                    margin-left: 80px; }
            .error{ color:red;}
        </style>
    </head>
        <body>

            <form action="/signup" method='POST'>
                <label for="username" >Username  </label>
                    <input id="username" type="text" name="username" value ='{{username}}' class="tab"/><span class="tab error">{{user_error}}</span>
                <br><br>
                <label for="password">Password&nbsp</label>
                    <input id="password" type="password" name="password" value='{{password}}' class="tab"/><span class="tab error">{{pwd_error}}</span>
                <br><br>
                <label for="ver_password">Verify Password </label>
                    <input id="ver_password" type="password" name="ver_password" value='{{ver_password}}'/><span class="tab error">{{pwd_ver_error}}</span>
                <br><br>
                <label for="email">Email (optional) </label>
                    <input id="email" type="text" name="email" value='{{email}}'/><span class="tab error">{{email_error}}</span>
                <br><br>
                <input type="submit" value="Sign me up!"/>
                    
            </form>

        </body>

</html>